h2 {
    text-decoration: underline;
    text-align: center;
    color: blue;
 }
p {
    padding-left: 20px;
    font-size: 20px;
    color: red;
 }
div {
    background-color: teal;
    width: 400px;
    height: 400px;
 }



